.talents__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 37,625rem;
    justify-content: center;
    padding-top: 6rem;
    width: 80rem;
}

.talents__open {
    background: var(--bright-color);
    border-radius: 1rem;
    color: var(--main-color);
    font-size: .875rem;
    font-weight: 500, Medium;
    height: 1.25rem;
    line-height: 1.25rem;
    padding: .5rem .75rem;
    text-align: center;
    width: 7.8125rem;
}

.talents__title {
    color: var(--dark-color);
    font-size: 2.25rem;
    font-weight: 600, Semi bold;
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 1rem 0 0;
    text-align: center;
    width: 48rem;
}

.talents__text {
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    height: 1.875rem;
    padding: 1.25rem 0 0;
    text-align: center;
    width: 48rem;
}

.talents__image {
    padding: 4rem 0 0;
}